<template>
    <div>
        <h1>Dropzone</h1>
        <div class="w-50">
            <input v-model="title" type="text" class="form-control mb-3" placeholder="title">
            <div ref="dropzone" class="p-5 bg-dark text-center text-light mb-3 btn d-block">
                Upload
            </div>
            <div class="mb-3">
            <vue-editor v-model="content" useCustomImageHandler @imageAdded="handleImageAdded"></vue-editor>
            </div>
            <button class="btn btn-primary" @click.prevent="store">upload</button>
        </div>

        <h3 class="mt-5">Latest post</h3>
        <div class="mt-5" v-if="post">
            <h4>{{ post.title}}</h4>
            <div v-for="image in post.images">
                <img :src="image.preview_url" alt="" class="m-2">
                <img :src="image.url" alt="" class="img-fluid w-25 m-2">
            </div>
            <div v-html="post.content"></div>
        </div>
    </div>
</template>

<script>
import Dropzone from "dropzone"
import { VueEditor } from "vue3-editor"

export default {
    name: "Dropzone",
    data() {
        return {
            dropzone: null,
            title: null,
            post: null,
            content:null
        }
    },
    mounted() {
        this.dropzone = new Dropzone(this.$refs.dropzone, {
            url: 'file',
            autoProcessQueue: false
        })
        this.getPosts()
    },
    methods: {
        store() {
            const data = new FormData();
            const files = this.dropzone.getAcceptedFiles();
            files.forEach(file => {
                data.append('images[]', file)
                this.dropzone.removeFile(file)
            })
            data.append('title', this.title);
            data.append('content', this.content);
            this.title = '';
            this.content = '';
            axios.post('/api/posts', data)
                .then(res => {
                    this.getPosts()
                })
        },

        handleImageAdded(file, Editor, cursorLocation, resetUploader) {
            console.log('1111');
            var formData = new FormData();
            formData.append("image", file);

            axios.post('/api/images', formData)
                .then(result => {
                    const url = result.data.url; // Get url from response
                    Editor.insertEmbed(cursorLocation, "image", url);
                    resetUploader();
                })
                .catch(err => {
                    console.log(err);
                });
        },


        getPosts() {
            axios.get('/api/posts')
                .then(res => {
                    console.log(res.data);
                    this.post = res.data.data
                })
        }
    },
    components: {
        VueEditor
    }
}
</script>

<style scoped>

</style>
