<template>
    <div class="container">
        <nav class="navbar">
            <router-link :to="{name: 'get.index'}">Get</router-link>
            <router-link :to="{name: 'dropzone'}">Dropzone</router-link>
            <router-link v-if="token" :to="{name: 'user.personal'}">Personal</router-link>
            <router-link v-if="!token" :to="{name: 'user.login'}">Login</router-link>
            <router-link v-if="!token" :to="{name: 'user.registration'}">Register</router-link>
            <a @click.prevent="logout" v-if="token" href="#">Logout</a>
        </nav>
        <div class="row">
            <div class="col">

                <router-view :key="$route.fullPath"></router-view>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Index",
    data() {
        return {
            token: null
        }
    },
    mounted(){
        this.getToken()
    },
    updated() {
        this.getToken()
    },
    methods: {
        logout() {
            axios.post('/logout')
                .then(res => {
                    localStorage.removeItem('x_xsrf_token');
                    this.$router.push({name:'user.login'})
                })
        },
        getToken() {
            this.token = localStorage.getItem('x_xsrf_token')
        }
    }
}
</script>

<style scoped>

</style>
