<template>
    <div>
        <h1>Login</h1>
        <div class="form-group w-25">
            <input class="form-control mb-3" type="email" placeholder="email" v-model="email">
            <input class="form-control mb-3" type="password" placeholder="password" v-model="password">
            <button class="btn btn-primary mb-3" @click.prevent="login">Login</button>
        </div>

    </div>
</template>

<script>
export default {
    name: "Login",
    data() {
        return {
            email: '',
            password: '',
        }
    },
    methods: {
        login() {
            console.log('clck');
            axios.get('/sanctum/csrf-cookie')
                .then(response => {
                    axios.post('/login', {email: this.email, password: this.password})
                        .then(res => {
                            localStorage.setItem('x_xsrf_token', res.config.headers['X-XSRF-TOKEN']);
                            this.$router.push({name:'user.personal'})
                        })
                        .catch(err => {
                            console.log(err.response);
                        })
                });
        }
    }
}
</script>

<style scoped>

</style>
