<template>
    <div>
        <h1>Login</h1>
        <div class="form-group w-25">
            <input class="form-control mb-3" type="text" placeholder="name" v-model="name">
            <input class="form-control mb-3" type="email" placeholder="email" v-model="email">
            <input class="form-control mb-3" type="password" placeholder="password" v-model="password">
            <input class="form-control mb-3" type="password" placeholder="password_confirmation" v-model="password_confirmation">
            <button class="btn btn-primary mb-3" @click.prevent="register">Register</button>
        </div>
    </div>
</template>

<script>
export default {
    name: "Registration",
    data() {
        return {
            name: '',
            email: '',
            password: '',
            password_confirmation: ''
        }
    },
    methods: {
        register() {
            axios.get('/sanctum/csrf-cookie')
                .then(response => {
                    axios.post('/register', {
                        email: this.email,
                        name: this.name,
                        password: this.password,
                        password_confirmation: this.password_confirmation
                    })
                        .then(res => {
                            localStorage.setItem('x_xsrf_token', res.config.headers['X-XSRF-TOKEN']);
                            this.$router.push({name:'user.personal'})
                        })
                });
        }
    }

}
</script>

<style scoped>

</style>
